[Desktop Entry]
Version=1.0
Type=Application
Name=Wallpaper Chooser
Comment=A small wallpaper utility made with Qt
Terminal=false
Categories=Application;Utility;
StartupNotify=true
